* {
	margin: 0px;
	padding: 0px;
	font-family: arial;
	outline: none;
}

body {
	background: #EFEFEF;
}

div[container-body] {
	width: 800px;
	min-height: 0px;
	overflow: hidden;
	margin: 0 auto;
}

div[container-chat] {
	width: 250px;
	height: 500px;
	float: left;
	overflow: hidden;
	background: url('../img/iphone-modal.png');
	background-size: 100% auto;
	margin-top: 50px;
}

div[container-chat] div[container-messages] {
	width: 220px;
	height: 390px;
	background: #FFF;
	margin: 56px 15px;
	box-shadow: inset 0px 0px 5px #DDD;
	overflow: hidden;
}

div[container-chat] div[container-messages] div[container-message] {
	display: block;
	overflow: hidden;
	margin-bottom: solid 1px #DDD;
}

div[container-chat] div[container-messages] div[message] {
	max-width: 150px;
	border-radius: 5px;
	padding: 5px;
	background: #EEE;
	margin: 5px;
	display: block;
	float: left;
	color: #444;
}

div[container-chat] div[container-messages] div[container-message][colored] div[message] {
	float: right;
	background: #668FAF;
	color: #FFF;
}

div[container-logs] {
	width: 500px;
	min-height: 0px;
	overflow: hidden;
	float: left;
	margin-top: 50px;
	margin-left: 50px;
}

div[container-logs] form {
	border-bottom: solid 1px #DDD;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

div[container-logs] form textarea {
	background: #DDD;
	border: solid 1px #CCC;
	width: 478px;
	height: 50px;
	resize: none;
	padding: 10px;
}

div[container-logs] form button {
	border: none;
	background: #668FAF;
	padding: 10px 25px;
	color: #FFF;
	cursor: pointer;
}

div[container-logs] div[block-logs] {}
div[container-logs] div[block-logs] label {
	padding: 10px 0px;
	font-size: 13px;
	color: #555;
}

div[container-indecisions] {
	box-shadow: 0px 0px 5px #CCC;
	overflow: hidden;
	min-height: 0px;
	margin: 10px;
	background: #FEFEFE;
	padding: 5px;
}

div[container-indecisions] div[message] {
	color: #222;
	font-size: 16px;
	padding: 10px;
}

div[container-indecisions] div[question] {
	font-size: 11px;
	color: #999;
	padding: 10px;
	padding-top: 0px;
}